@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
  --primary-color: #e9c896;
  --header-footer-bg-color: #de812b;
  --logo-font: 'Caveat', cursive;
  --main-font: Arial, cursive;
  --menu-font: 'Lobster', cursive;
  --dark-color: black;
  --light-color: #f8f8ff;
}

.footer {
  width: 100%;
  height: 100vh;
  background-color: var(--header-footer-bg-color);
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
}
