@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ************************* GENERALITES *************************  */

:root {
  --primary-color: #e9c896;
  --header-footer-bg-color: #de812b;
  --logo-font: 'Caveat', cursive;
  --main-font: Arial, cursive;
  --menu-font: 'Lobster', cursive;
  --dark-color: black;
  --light-color: #f8f8ff;
  --tomato-color: #d64933;
}

a {
  text-decoration: none;
}

a:hover {
  color: #dc2626;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font), cursive;
  background: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer {
  width: 100%;
  background-color: var(--header-footer-bg-color);
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
  bottom: 0;
}

/* ************************* PAGE HOME *************************  */
.pizza-button-container {
  width: 80vw;
  margin: 0 auto;
}

.pizza-link {
  width: 100%;
}

.pizza {
  margin-top: -40vw;
}

.rounded-text {
  z-index: 3;
}

.curved-text {
  font-size: 3.5rem;
  text-align: center;
  @apply font-extrabold;
  font-family: arial;
  fill: var(--tomato-color);
  width: 100px;
  height: 80px;
}

#curve {
  width: 80vw;
}

/* ************************* PIZZACHANGE *************************  */
.pizza-mockup-container {
  width: 80vw;
  height: 90vw;
  margin: 5vw auto;
  position: relative;
}

.img-pizza-construction {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
}

.ingredientsList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.ingredient {
  display: inline-block;
  margin: 20px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  vertical-align: top;
}

/* ************************* PIZZACOMPOSITION *************************  */
.PizzaList {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  padding-top: 1em;
}

.PizzaList.img {
  padding-left: 10px;
}

.Figcaption {
  height: 250px;
  width: 50vw;
}

.Ingredients {
  max-width: 40vw;
}

.button {
  width: 15em;
}

.Cards {
  margin: auto;
}
/* ************************* FORM *************************  */
.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  text-align: left;
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.message:last-child::before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.message:last-child::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

/* ************************* MEDIA QUERIES *************************  */

@media screen and (min-width: 640px) {
  .pizza-button-container {
    width: 500px;
  }

  .pizza-mockup-container {
    width: 630px;
    height: 630px;
  }

  .pizza {
    margin-top: -250px;
  }

  .ingredientsList {
    @apply flex flex-wrap justify-evenly;
  }
  .ingredient {
    @apply flex flex-col m-6;
  }
}

/* Small screens */
@media only screen and (max-width: 640px) {
  .Pizzacontainer {
    justify-content: center;
    text-align: center;
  }

  .Cards {
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
    margin-left: 0em;
  }

  .Card {
    width: 100%;
    height: 100%;
    text-align: center;
    transform: scale(1);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    padding-bottom: 10px;
  }

  .PizzaList {
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: none;
    width: 20rem;
    max-height: fit-content;

    margin-top: 60px;
    padding-top: 10px;
  }

  .PizzaList img {
    backface-visibility: hidden;
  }

  .Cardfront {
    width: 300px;
    height: 300px;
    position: relative;
  }

  .Figcaption {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
  }

  .CardFront,
  .Figcaption {
    position: absolute;
    width: 100%;
  }

  .Pizzaname {
    padding-top: 2px;
  }

  .Cards:active .Card {
    transform: rotateY(180deg);
  }
}

/* ************************* OrdersRecap *************************  */
#orders-recap {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

#orders-recap td,
#orders-recap th {
  border: 1px solid #ddd;
  padding: 8px;
}

#orders-recap tr:nth-child(even) {
  background-color: #f2f2f2;
}

#orders-recap tr:hover {
  background-color: #ddd;
}

#orders-recap th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--tomato-color);
  color: white;
}
