@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
  --primary-color: #e9c896;
  --header-footer-bg-color: #de812b;
  --logo-font: 'Caveat', cursive;
  --main-font: Arial, cursive;
  --menu-font: 'Lobster', cursive;
  --dark-color: black;
  --light-color: #f8f8ff;
}

body {
  font-family: var(--main-font), cursive;
  background: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
